* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bgc {
  background-color: #1e1e2f;
  font-family: "Arial", sans-serif;
  color: white;
}

/* Body */

label,
h1 {
  color: black !important;
}

.card {
  background: white;
  backdrop-filter: blur(10px);
  border: 1px solid rgb(117, 116, 116);
  box-shadow: 1px 1px 10px rgb(153, 153, 153);
}

.emailhelp {
  color: black;
}

.btn-outline-secondary:hover {
  background-color: rgb(206, 182, 150);
}

.btn-outline-secondary {
  color: black(206, 182, 150);
  border: 1px solid rgb(206, 182, 150);
}
